.header {
    width: 100%;
    min-width: 1000px;
    height: 94px;
    _background: #9fd3df;
    _border-bottom: 2px solid #fff;
    _border-top: 2px solid #fff;
    position: fixed;
    z-index: 9999;
}
.header img {
    width: 70px;
    float: left;
    padding: 5px 30px;
}
.header h1 {
    color: #fff;
    font-weight: 300;
    font-family: 'Montserrat', 'Jost', sans-serif;
    font-size: 50px;
    padding: 7px 40px;
}

.header h1 span {
    color: rgb(191, 226, 247);
    font-size: 25px;
    padding-left: 30px;

}

.header a {
    color: rgb(233, 233, 233);
    text-decoration: none;
}

.header a:hover {
    color: rgb(130, 203, 245);
}
.navbar {
    overflow: hidden;
    background-color: #333;
    text-transform: uppercase;
    padding-left: 15px;
    border-bottom: 10px solid #68bacc;
    border-top: 2px solid #fff;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
    text-transform: uppercase;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: #9fd3df;
    color: #000;
    font-weight: 600;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:#9fd3df;
    width: 100%;
    z-index: 999;
    padding-left: 1%;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #ecf6f9;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}