@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #ecf6f9;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

a {
    text-decoration: none;
    color: rgb(10, 198, 245);
}

a:hover {
    color: brown;
}

.center {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.center img {
    margin: 0 auto;
}

.center-home {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    _margin-bottom: -100px;
}

.center-home img {
    width: 100%;
}

.center-home h2 {
    color: cadetblue;
    font-size: 35px;
    margin: 30px 0;
}

.center-home-bottom {
    margin-bottom: -100px;
}

.content {
    min-width: 1000px;
    _height: 91vh;
    margin: 0 auto;
    min-height: calc(100vh - 140px);
}

.content h1 {
    width: 100%;
    text-align: center;
    color: #3c97aa;
    font-size: 60px;
    font-weight: 700;
    margin-top: 63px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}

.content b {
    font-size: 25px;
    _font-style: italic;
    color: #348292;
}

.content .box_text {
    width: 50%;
    margin-bottom: 100px;
}

.content .box #infoText p {
    padding: 10px;
}

.content .box_text,
.box_choice p {
    color: #242424;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    line-height: 40px;
}

.content .box_choice p {
    font-weight: 400;
    color: #21555f
}

.games {
    display: flex;
    justify-content: space-between;
}

.game_btn {
    width: 90px;
    height: 90px;
    border-radius: 10%;
    background-color: #3c97aa;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s ease;
}

.content .box_choice a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

.games a:hover .game_btn {
    border: 6px solid #9fd3df;
}

.content .box_choice {
    margin-bottom: 50px;
}

.content .box {
    min-height: 500px;
    margin: 0 auto;
    text-align: center;
}

.content .box p {
    color: #242424;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content .box input {
    display: block;
    border: 1px solid #3c97aa;
    background-color: #fff;
    width: 457px;
    height: 34px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 200;
    margin: 0px auto 12px;
}

.content .box select {
    display: inline-block;
    border: 1px solid #3c97aa;
    background-color: #fff;
    width: 90px;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 200;
    margin: 0px auto;
}

.content .box a {
    display: block;
    width: fit-content;
    background-color: #68bacc;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    margin: 30px auto 0;
    padding: 12px 20px;
    border-radius: 5px;
}

.content .box a:hover {
    background-color: #3c97aa;
}

#selectBox {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    padding-right: 50px;
}

#repeat {
    display: none;
}

.footer {
    background-color: #333;
    border-top: 10px solid #68bacc;
    width: 100%;
    height: 150px;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 25px;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.beginBox {
    display: none;
}

.wrapper {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    _margin-top: 50px;
    _border: 1px solid black;
}

#showBox {
    display: flex;
}

#info {
    margin: 30px 10px;
}

#language {
    display: grid;
    grid-template-columns: 49% 49%;
    text-align: center;
    gap: 5px;
}

label {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px;
    color: #3c97aa;
}

#eng {
    transform: scale(0.7);
    grid-column: 1;
    justify-self: baseline;
}

#rus {
    transform: scale(0.7);
    grid-column: 1;
    grid-row: 2;
    justify-self: baseline;
}

#de {
    transform: scale(0.7);
    grid-column: 1;
    grid-row: 3;
    justify-self: baseline;
}

#wordState {
    font-size: 30px;
    font-weight: 500;
    color: red;
}

#wordState span {
    color: rgb(97, 96, 96);
    font-size: 25px;
}

#message {
    font-weight: 400;
}

.lost {
    color: red !important;
    font-weight: 500 !important;
}

.banner {
    width: 100%;
    height: 100px;
    background-color: #3c97aa;
}

.center-web {
    width: 100%;
}

.web-sites {
    width: 100%;

}

.web-sites img {
    width: 300px;
    _display: block;
}

.web-sites h3 {
    color: cadetblue;
    font-size: 28px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
}

.row-web {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px auto;
}

.pictures {
    margin: 20px;
}

.pictures a {
    _display: block;
}